*{
    text-decoration: none;
}
.Fixed{
    position: fixed;
    width: 100%;
    height: 110px;
    left: 0;
    top: 0;
    background-image: linear-gradient(to left, rgb(44, 71, 221),rgb(179, 16, 212));
    z-index: 2;
}
.Logo{
    width: 255px;
    height: 109px;
    margin-left: 11%;
    margin-right: 50px;
}
.Link{
    padding: 0;
    color: white;
    font-size: 20px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    margin-right: 30px;
    top: -50px;
    position: relative;
}
.Link:hover{
    color: rgb(187, 185, 185);
}
.Dash{
    padding: 0;
    color: white;
    font-size: 30px;
    margin-left: -15px;
    margin-right: 15px;
    top: -50px;
    font: bold;
    position: relative;
}