@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
*{
    text-decoration: none;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
}
.navbar{
  padding: .8rem;
  background-image: linear-gradient(to left, #4568dc,#b06ab3);
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.table{
    margin-top: 50px;
    margin-bottom: 50px;
}
.submit{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 280px;
    height: 35px;
    background-color: #4568dc;
    color: white;
    border: 0;
    border-radius: 5px;
}
.cell{
    text-align: center;
}
.Redg{
    background-color: #4568dc;
    border: 0;
    border-radius: 5px;
}
.yea{
    color: white;
}
footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}



/* *{
    text-decoration: none;
}
.Lentele{
    position: relative;
    top: 200px;
    left: 80px;
    border-radius: 15xp;
}
.Pastas{
    width: 300px;
}
.Red{
    width: 150px;
}
th{
    background-color: rgb(209, 206, 206);
    border-color: rgb(209, 206, 206);
    width: 200px;
    border-collapse: separate;
    padding: 10px;
    font-family: Intro, Helvetica, Arial, sans-serif;
}
td{
    text-align: center;
    padding: 10px;
    background-color: rgb(236, 236, 236);
    font-family: Intro, Helvetica, Arial, sans-serif;
}
input[type="submit"]
{
    position: relative;
    top: 180px;
    left: 1225px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    padding: 10px;
    background-color: rgb(44, 71, 221);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
input[type="submit"]:hover{
    box-shadow: 5px 5px 5px #ccc;
}
input[type="submit"]:active{
    font-size: 12px;
    width: 200px;
}
.Redaguoti{
    font-family: Intro, Helvetica, Arial, sans-serif;
    background-color: rgb(44, 71, 221);
    width: 110px;
    height: 25px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}
.Redaguoti:hover{
    box-shadow: 5px 5px 5px #ccc;
}
.Redg{
    font-family: Intro, Helvetica, Arial, sans-serif;
    display: block;
    width: 115px;
    height: 20px;
    background: rgb(44, 71, 221);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
} */
