*{
    text-decoration: none;
}
.Lentele{
    position: relative;
    top: 200px;
    left: 80px;
    border-radius: 15xp;
}
.Pastas{
    width: 300px;
}
.Red{
    width: 150px;
}
th{
    background-color: rgb(209, 206, 206);
    border-color: rgb(209, 206, 206);
    width: 200px;
    border-collapse: separate;
    padding: 10px;
    font-family: Intro, Helvetica, Arial, sans-serif;
}
td{
    text-align: center;
    padding: 10px;
    background-color: rgb(236, 236, 236);
    font-family: Intro, Helvetica, Arial, sans-serif;
}
input[type="submit"]
{
    position: relative;
    top: 180px;
    left: 1225px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    padding: 10px;
    background-color: rgb(44, 71, 221);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
input[type="submit"]:hover{
    box-shadow: 5px 5px 5px #ccc;
}
input[type="submit"]:active{
    font-size: 12px;
    width: 200px;
}
.Redaguoti{
    font-family: Intro, Helvetica, Arial, sans-serif;
    background-color: rgb(44, 71, 221);
    width: 110px;
    height: 25px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}
.Redaguoti:hover{
    box-shadow: 5px 5px 5px #ccc;
}
.Redg{
    font-family: Intro, Helvetica, Arial, sans-serif;
    display: block;
    width: 115px;
    height: 20px;
    background: rgb(44, 71, 221);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
