@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
}

.navbar{
  padding: .8rem;
  background-image: linear-gradient(to left, #4568dc,#b06ab3);
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  height: 55px;
  text-align: center;
  padding-top: 15px;
}
.card{
  padding-top: 40px;
  background-color: white;
  border: none !important;
}
.card-img-top{
  width: 450px;
  height: 250px;
  box-align: center;
  margin-left: 80px;
}
.eile{
  margin-top: 60px;
}
.card-body{
  text-align: center;
}
.btn{
  background-color: #4568dc;
  border: 0;
  border-radius: 5px;
  color: white;
}