.Header{
    position: absolute;
    width: 100%;
    height: 260px;
    left: 0;
    top: 110px;
    background-image: linear-gradient(to left, rgb(44, 71, 221),rgb(179, 16, 212));
}
.Moto{
    position: relative;
    color: white;
    width: 200px;
    left: 35%;
    font-size: 40px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    bottom: 20px;
}
.Group{
    position: relative;
    width: 220px;
    height: 220px;
    bottom: 260px;
    left: 52%;
}
.Comment{
    position: relative;
    top: 340px;
    font-size: 18px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    width: 450px;
    left: 42%;
    color: black;
}
.Teamwork{
    position: relative;
    width: 100px;
    height: 85px;
    top: 425px;
    left: 36%;
}
.Comment1{
    position: relative;
    top: 270px;
    font-size: 18px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    width: 450px;
    left: 37%;
    color: black;
}
.Teamwork1{
    position: relative;
    width: 100px;
    height: 85px;
    top: 355px;
    left: 60%;
}
.Comment2{
    position: relative;
    top: 215px;
    font-size: 18px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    width: 450px;
    left: 42%;
    color: black;
}
.Teamwork2{
    position: relative;
    width: 100px;
    height: 85px;
    top: 300px;
    left: 36%;
}
.Line{
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    top: 830px;
    background-image: linear-gradient(to left, rgb(44, 71, 221),rgb(179, 16, 212));
}
.Holding{
    position: relative;
    height: 250px;
    left: 27%;
}
.Honey{
    position: relative;
    height: 100px;
    bottom: 120px;
    right: 340px;
}
.Honey1{
    position: relative;
    height: 100px;
    left: 250px;
    bottom: 10px;
}