*{
    text-decoration: none;
}
.Fixed{
    position: fixed;
    width: 100%;
    height: 110px;
    left: 0;
    top: 0;
    background-image: linear-gradient(to left, rgb(44, 71, 221),rgb(179, 16, 212));
    z-index: 2;
}
.Logo{
    width: 255px;
    height: 109px;
    margin-left: 17%;
    margin-right: 50px;
}
.Link{
    padding: 0;
    color: white;
    font-size: 20px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    margin-right: 30px;
    top: -50px;
    position: relative;
}
.Link:hover{
    color: rgb(187, 185, 185);
}
.Dash{
    padding: 0;
    color: white;
    font-size: 30px;
    margin-left: -15px;
    margin-right: 15px;
    top: -50px;
    font: bold;
    position: relative;
}
.Header{
    position: absolute;
    width: 100%;
    height: 260px;
    left: 0;
    top: 110px;
    background-image: linear-gradient(to left, rgb(44, 71, 221),rgb(179, 16, 212));
}
.Moto{
    position: relative;
    color: white;
    width: 200px;
    left: 35%;
    font-size: 40px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    bottom: 20px;
}
.Group{
    position: relative;
    width: 220px;
    height: 220px;
    bottom: 260px;
    left: 52%;
}
.Comment{
    position: relative;
    top: 330px;
    font-size: 18px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    width: 450px;
    left: 40%;
    color: black;
}
.Teamwork{
    position: relative;
    width: 100px;
    height: 85px;
    top: 425px;
    left: 34%;
}
.Comment1{
    position: relative;
    top: 260px;
    font-size: 23px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    width: 450px;
    left: 35%;
    color: black;
}
.Teamwork1{
    position: relative;
    width: 100px;
    height: 85px;
    top: 355px;
    left: 63.5%;
}
.Comment2{
    position: relative;
    top: 205px;
    font-size: 23px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    width: 450px;
    left: 40%;
    color: black;
}
.Teamwork2{
    position: relative;
    width: 100px;
    height: 85px;
    top: 300px;
    left: 34%;
}
.Line{
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    top: 830px;
    background-image: linear-gradient(to left, rgb(44, 71, 221),rgb(179, 16, 212));
}
.Holding{
    position: relative;
    height: 250px;
    left: 27%;
}
.Honey{
    position: relative;
    height: 100px;
    bottom: 120px;
    right: 340px;
}
.Honey1{
    position: relative;
    height: 100px;
    left: 250px;
    bottom: 10px;
}
.Footer{
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0;
    top: 1150px;
    background-color: rgb(54, 54, 54);
}
.F_Logo{
    position: absolute;
    width: 255px;
    height: 109px;
    margin-left: 23%;
    margin-right: 50px;
    top: 20px;
}
.F_Link{
    color: white;
    font-size: 20px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    margin-right: 30px;
    position: relative;
    left: 42%;
    top: 60px;
}
.F_Link:hover{
    color: rgb(187, 185, 185);
}
.Copyright{
    position: relative;
    top: 80px;
    margin-left: 45%;
    font-family: Intro, Helvetica, Arial, sans-serif;
}
.Info{
    position: relative;
    text-align: center;
    top: 200px;
    left: 543px;
    width: 450px;
    height: 400px;
}
.Prisijunk{
    font-family: Intro, Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 300;
}
#Name{
    width: 250px;
    height: 40px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
}
#Password{
    width: 250px;
    height: 40px;
    margin-top: 15px;
    font-size: 16px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
}
input[type="submit"]{
    margin-top: 60px;
    width: 250px;
    height: 40px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(44, 71, 221);
    margin-bottom: 20px;
}
input[type="submit"]:hover{
    box-shadow: 5px 5px 5px #ccc;
}
input[type="submit"]:active{
    font-size: 20px;
    width: 200px;
    height: 35px;
}
.Help{
    font-family: Intro, Helvetica, Arial, sans-serif;
    display: inline-block;
    color: rgb(44, 71, 221);
    margin-bottom: 15px;
}
