@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
}
.navbar{
  padding: .8rem;
  background-image: linear-gradient(to left, #4568dc,#b06ab3);
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.main-section{
    margin: 0 auto;
    margin-top: 80px;
    padding: 0;
    padding-bottom: 40px;
}
.modal-content{
    background-color: rgb(202, 174, 209);
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
    width: 100%;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-img img{
    height: 110px;
    width: 100px;
}
.form-group{
    margin-bottom: 25px;
}
.form-group input{
    height: 45px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
}
.btn{
    width: 60%;
    margin: 5px 0 25px;
    background-color: #4568dc;
    color: white;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 5px;
}
.svg-inline--fa{
    font-size: 20px;
    margin-right: 7px;
}
.pagalba{
    padding: 5px;
}
.pagalba:last-of-type{
    padding: 5px 0 25px;
}
.pagalba a{
    color: #7e7e7e;
}
footer{
    place-self: bottom;
    background-color: #3f3f3f;
    color: #d5d5d5;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}


/* .container{
    position: relative;
    text-align: center;
    top: 180px;
    left: 543px;
    width: 450px;
    height: 400px;
}
.Prisijunk{
    font-family: Intro, Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 300;
}
input[type="text"]{
    width: 250px;
    height: 40px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
}
input[type="password"]{
    width: 250px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 16px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
}
button[type="submit"]{
    margin-top: 30px;
    width: 250px;
    height: 40px;
    font-family: Intro, Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(44, 71, 221);
    margin-bottom: 20px;
}
button[type="submit"]:hover{
    box-shadow: 5px 5px 5px #ccc;
}
button[type="submit"]:active{
    font-size: 20px;
    width: 200px;
    height: 35px;
}
.Help{
    font-family: Intro, Helvetica, Arial, sans-serif;
    display: inline-block;
    color: rgb(44, 71, 221);
    margin-bottom: 15px;
} */

