@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
*{
    text-decoration: none;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
}
.navbar{
  padding: .8rem;
  background-image: linear-gradient(to left, #4568dc,#b06ab3);
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
img{
  border-radius: 50%;
  width: 170px;
}
#container{
  margin-top: 75px;
  background-color: rgb(202, 174, 209);
  width: 85%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
}
.redaguoti{
  margin-top: 30px;
  width: 125px;height: 35px;
  background-color: #4568dc;
  color: white;
  border: 0;
  border-radius: 5px;
}
a{
  color: white;
}