@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
}
body{
  background-image: linear-gradient(to left, #4568dc,#b06ab3);
}
.navbar{
  padding: .8rem;
  background-image: linear-gradient(to left, #4568dc,#b06ab3);
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.carousel-inner img{
  width: 100%;
  height: 220px;
}
.carousel-caption{
  position: absolute;
}
.carousel-caption h1{
  font-size: 500%;
  text-shadow: 1px 1px 10px #000;
}
.card{
  padding-top: 40px;
  background-color: white;
  border: none !important;
  height: 325px;
}
.card-img-top{
  width: 150px;
  height: 150px;
  box-align: center;
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  height: 55px;
  text-align: center;
  padding-top: 15px;
}
#HH{
  height: 250px;
  width: 700px;
}
#yea{
  text-align: center;
  background-image: linear-gradient(to left, #4568dc,#b06ab3);
}
#id{
  padding-bottom: 25px;
}
.eile{
  padding-bottom: 50px;
}







/*---Media Queries --*/
@media (max-width: 992px) {
  .carousel-inner img{
    width: 100%;
    height: 320px;
  }
}
@media (max-width: 768px) {
  .carousel-inner img{
    width: 100%;
    height: 350px;
  }
  .carousel-caption h1{
    font-size: 400%;
    text-shadow: 1px 1px 10px #000;
  }
  #HH{
    height: 200px;
    width: 560px;
  }
}
@media (max-width: 576px) {
  #HH{
    height: 125px;
    width: 350px;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/